body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #F2F2F2;
  padding: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.logo {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 45px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-light {
  background-color: #F2F2F2;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.navbar-dark {
  background-color: #FF66B2;
}

.navbar-nav a {
  color: #333;
  font-weight: bold;
}

.navbar-dark .navbar-nav a {
  color: white;
}
#carouselAutoplaying {
  max-width: 100%; /* Ajusta el carrusel al ancho máximo de la página */
  margin: 0 auto; /* Centra el carrusel en la página */
}

.carousel-inner {
  max-height: 75vh; /* Ajusta la altura máxima del carrusel al 100% del alto de la pantalla */
}

.carousel-item {
  height: 100%; /* Ajusta la altura de cada slide al 100% del alto del carrusel */
}

.carousel-item img {
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente cada slide */
}

