@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --texto1: 'Montserrat', sans-serif;
    --color1: #Ff0646;
    --color2: #04B2D9;
    --color3: #ffff;
    --color4: #F29F05;
    --color5: #F28705;
    --tam-letra1: 1rem;
    --tam-letra2: 0.75rem;
    --tam-letra3: 2rem;
}

/**********************************************/
/*******       BARRA DE NAVEGACIÓN   **********/
/**********************************************/
.estilo-header, 
.estilos-navbar {
    background: var(--color3);
}

.navbar-nav .nav-link,
.estilos-navbar li a {    
    font-family: var(--texto1), sans-serif;
    font-size: var(--tam-letra1);
    font-weight: bold;
}

.huacal-number {
    /*Posicionamiento de circulo*/
    position: relative;
    top: -10px;
    right: -50%;
    /*Posicionamiento de contenido*/ 
    align-items: center;
    display: flex;
    justify-content: center;
    /*Estilo*/
    background-color: #fff;
    border-radius: 50%;
    color: var(--color1);
    font-size: 0.75rem;
    height: 25px;
    width: 25px;
}

/*Carrusel*/

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}


/*product*/
.heading_container.heading_center h2 {
  position: relative;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.product_section .heading_container {
  margin-bottom: 20px;
}

.product_section .box {
  position: relative;
  margin-top: 25px;
  padding: 35px 35px;
  background-color: #f7f8f9;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, .2);
  border: solid #fff 10px;
}

.product_section .box .option_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0646;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.product_section .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product_section .box .options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_section .box .options a {
  margin: 5px 0;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .options .option1 {
  background-color: #ff0646;
  border: 1px solid #ff0646;
  color: #ffffff;
}

.product_section .box .options .option1:hover {
  background-color: transparent;
  color: #ff0646;
}

.product_section .box .options .option2 {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.product_section .box .options .option2:hover {
  background-color: transparent;
  color: #000000;
}

.product_section .box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 215px;
}

.product_section .box .img-box img {
  max-width: 100%;
  max-height: 160px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .detail-box {
  text-align: center;
}

.product_section .btn-box a:hover {
  background-color: transparent;
  color: #ff0646;
}

/*footer*/
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
  text-align: center;
  margin-bottom: 20px;
}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left a,
.footer-right a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-left a:hover,
.footer-right a:hover {
  color: #ff0646;
}

#subscribeButton {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#subscribeButton:hover {
  background-color: #ff0646;
}

.bottom-text {
  font-size: 12px;
  margin-top: 20px;
}

.descripcion-section img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
}