@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --texto1: 'Montserrat', sans-serif;
  --color1: #FF0646;  
  --color2: #04B2D9;
  --color3: #ffff;
  --color4: #F29F05;
  --color5: #F28705;
  --color6: #000000;
  --tam-letra2: 0.75rem;
  --tam-letra1: 1rem;
  --tam-letra4: 0.90rem;
  --tam-letra3: 2rem;
  --dark-color: #000000;
  --dark-icon-color: #ffffff;
  --light-color: #ffffff;
  --light-icon-color: #FFDE59;
}

/* ------------ BASE ------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    align-items: center;
    background-color: var(--light-color);
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;
  }

/* Titulo quienes somos*/
.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: bold;
}

/* Titulo nuestra familia*/
.heading_container h3 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Titulo conoce*/
.heading_container h4 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/*Guión bajo en quienes somos*/
.heading_container h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #ff0646;
  margin: 10px auto;
}

/*Guión bajo en nuestra familia*/
.heading_container h3::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #ff0646;
  margin: 10px auto;
}

/*Color rosa resaltado en Somos*/
.heading_container h2 span {
  color: #ff0646;
}

/*Color rosa resaltado en Nuestra familia*/
.heading_container h3 span {
  color: #ff0646;
}

/*Centrar Quienes Somos*/
.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

/*Centrar Nuestra familia*/
.heading_container.heading_center {
  align-items: center;
  text-align: center;
}



/**********************************************/
/*******       LISTADO DE PRODUCTOS   **********/
/**********************************************/

/* Estilos personalizados para la lista de licores */
#liquor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #000000; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
    font-weight: bold; 
  }

  .container {
    text-align: center; 
  }
  

  .special-image {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    }

  .special-image:hover {
        transform: scale(1.1);
      }
      
  .special-image {
        filter: saturate(150%);
      }

  .product-thumbnail {
    margin: 10px;
    cursor: pointer;
  }
  
  .product-thumbnail img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el modal */
  .modal-body {
    text-align: center;
  }
  
  .product-details img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  /* Estilo para la imagen en el modal */
#productModal img {
    max-width: 100%; 
    height: auto; 
  }

  /* Estilo para los botones */
  .btn-huacal, .btn btn-primary {
    font-size: 10px;
    padding: 8px 90px;
    white-space: nowrap;
    text-align: left !important;  
}
  
  /* Estilo específico para los botones "Echar al huacal" y "Agregar a la lista de deseos" */
.btn-add-to-cart, .btn-add-to-wishlist {
    font-size: 10px; 
    padding: 8px 90px; 
    white-space: nowrap;
    text-align: left !important;
  }
body.darkmode .dark-card {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 1px solid var(--color1);
}

body.darkmode .dark-card .option_container {
    background-color: var(--dark-color);
}

body.darkmode .dark-card .card-title,
body.darkmode .dark-card .card-text {
    color: var(--light-color);
}

