@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**********************************************/
/*******       LISTADO DE PRODUCTOS   **********/
/**********************************************/

/* Estilos personalizados para la lista de licores */
#liquor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #000000; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
    font-weight: bold; 
  }

  .container {
    text-align: center; 
  }

  .container-list {
    text-align: center; 
  }
  

  .special-image {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    }

  .special-image:hover {
        transform: scale(1.1);
      }
      
  .special-image {
        filter: saturate(150%);
      }

  .text-licores {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 1.6;
        color: #333; 
        margin-bottom: 20px; 
      }    

  .product-thumbnail {
        margin: 10px;
        cursor: pointer;
        transition: box-shadow 0.3s;
        position: relative;
        overflow: hidden;
        width: calc(25% - 20px);
      }

      @media (max-width: 768px) {
        .product-thumbnail {
          width: calc(50% - 20px); /* Cambia a 2 columnas en pantallas pequeñas */
        }
      }
      
      .product-thumbnail:hover .overlay-text {
        display: block;
      }
      
      .product-thumbnail .overlay-text {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 10px 20px;
        border-radius: 5px;
        color: #fd0681; 
        font-size: 14px;
        cursor: pointer;
      }
      

  .product-thumbnail img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el modal */
  .modal-body {
    text-align: center;
  }
  
  .product-details img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  /* Estilo para la imagen en el modal */
#productModal img {
    max-width: 100%; 
    height: auto; 
  }

  .darkmode .modal-content {
    background-color: #333; /* Cambiar el color de fondo del modal en modo oscuro */
    color: #fff; /* Cambiar el color del texto en el modal en modo oscuro */
}

  /* Estilo para los botones */
  .btn-huacal, .btn btn-primary {
    font-size: 10px;
    padding: 8px 90px;
    white-space: nowrap;
    text-align: left !important;
    background-color: #FF0646 !important;  
}
  
  /* Estilo específico para los botones "Echar al huacal" y "Agregar a la lista de deseos" */
.btn-add-to-cart, .btn-add-to-wishlist {
    font-size: 10px; 
    padding: 8px 90px; 
    white-space: nowrap;
    text-align: left !important;
    background-color: #FF0646 !important;
  }


