@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}



/**********************************************/
/*******      INICIO Pie d pagina   **********/
/**********************************************/

/********* section de descriopcion  *********/
.descripcion-content {
    max-width: 1200px;
    margin:  0 auto;
}
.descripcion-section {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-top: 0 rem;
    width: 100%;
}
.descripcion-section img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
}

  /* Titulo tejemos*/
  .descripcion-section h4 {
    position: relative;
    margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
    /* Titulo descubre*/
    .descripcion-section h3 {
      position: relative;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .descripcion-section.descripcion-content {
      align-items: center;
      text-align: center;
    }
  
    /*Guión bajo titulo descubre*/
    h3:after {
      content: "";
      display: block;
      width: 100%; /* Ajustar el ancho al 100% */
      max-width: 500px; /* Establecer un ancho máximo */
      height: 5px;
      background: #ff0646;
      margin: 10px auto;
  }


/************** footer ***************/
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
    text-align: center;
    margin-bottom: 20px;

}

.footer-left ul {
    list-style: none;
    padding: 0;
}

.footer-left a,
.footer-right a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;

}

.footer-left a:hover,
.footer-right a:hover {
    color: #ff0646;
}

#subscribeButton {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#subscribeButton:hover {
    background-color: #ff0646;
    font-weight: bold;
}

.bottom-text {
    font-size: 12px;
    margin-top: 20px;
}

.img-pagos {
    width: 230px;
  }

  .img-pagos-container {
    padding-top: 20px;
  }

/**********************************************/
/*******      FINAL de Pie d pagina   **********/
/**********************************************/
