@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --texto1: 'Montserrat', sans-serif;
  --color1: #FF0646;  
  --color2: #04B2D9;
  --color3: #ffff;
  --color4: #F29F05;
  --color5: #F28705;
  --color6: #000000;
  --tam-letra2: 0.75rem;
  --tam-letra1: 1rem;
  --tam-letra4: 0.90rem;
  --tam-letra3: 2rem;
}

/* Titulo quienes somos*/
.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
}

/* Titulo nuestra familia*/
.heading_container h3 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Titulo conoce*/
.heading_container h4 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/*Guión bajo en quienes somos*/
.heading_container h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #ff0646;
  margin: 10px auto;
}

/*Guión bajo en nuestra familia*/
.heading_container h3::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #ff0646;
  margin: 10px auto;
}

/*Color rosa resaltado en Somos*/
.heading_container h2 span {
  color: #ff0646;
}

/*Color rosa resaltado en Nuestra familia*/
.heading_container h3 span {
  color: #ff0646;
}

/*Centrar Quienes Somos*/
.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

/*Centrar Nuestra familia*/
.heading_container.heading_center {
  align-items: justify;
  text-align: center;
}


/*============= SLIDER DE IMAGENES QUIENES SOMOS =======*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bgColor: rgb(52, 52, 51);
  }
  
  #slider {
    position: relative;
    width: 40%;
    height: 45vw;
    margin: auto;
    transform-style: preserve-3d;
    font-family: "Montserrat", sans-serif;
    perspective: 1400px;
  }

  .slide-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: white;
    padding: 5px;
    box-sizing: border-box;
  }
  
  input[type="radio"] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    transform: translateX(-83px);
    cursor: pointer;
    opacity: 0.4;
  }
  
  
  input[type="radio"]:nth-child(6) {
    margin-right: 0px;
  }
  
  input[type="radio"]:checked {
    opacity: 1;
  }
  
  #slider label,
  #slider label img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 3px;
    color: white;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 400ms ease;
  }
  
  /* Active Slide */
  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5,
  #s6:checked ~ #slide6 {
    transform: translate3d(0%, 0, 0px);
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide6,
  #s6:checked ~ #slide1 {
    transform: translate3d(20%, 0, -100px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide6,
  #s5:checked ~ #slide1,
  #s6:checked ~ #slide2 {
    transform: translate3d(-20%, 0, -100px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* Next to Next Slide */
  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide6,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2,
  #s6:checked ~ #slide3 {
    transform: translate3d(40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide5,
  #s2:checked ~ #slide6,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3,
  #s6:checked ~ #slide4 {
    transform: translate3d(-40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }

  /* Previous to Previous Slide */
  #s1:checked ~ #slide6,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4,
  #s6:checked ~ #slide5 {
    transform: translate3d(-40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }

/* Simplify slider styles */

.slider_section {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
}

.slider_section .detail-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
  line-height: 70px;
}

.slider_section .detail-box h1 span {
  color: #ff0646;
}

.slider_section .detail-box p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #ff0646;
  border: 1px solid #ff0646;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 700;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #f7444e;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f7444e;
}

/***** Pie de pagina ****/

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
  text-align: center;
  margin-bottom: 20px;
}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left a,
.footer-right a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-left a:hover,
.footer-right a:hover {
  color: #ff0646;
}

#subscribeButton {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#subscribeButton:hover {
  background-color: #ff0646;
}

.bottom-text {
  font-size: 12px;
  margin-top: 20px;
}

.descripcion-section img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
}


