@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/RobotoSlab-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --texto1: 'Montserrat', sans-serif;
    --color1: #FF0646;  
    --color2: #04B2D9;
    --color3: #ffff;
    --color4: #F29F05;
    --color5: #F28705;
    --tam-letra2: 0.75rem;
    --tam-letra1: 1rem;
    --tam-letra4: 0.90rem;
    --tam-letra3: 2rem;
}

h1{
    font-family: roboto;
    padding-top: 50px;
}

h3{
    font-family: montserrat;
    text-align: center;
}

h5 {
    font-family: montserrat;
    font-size: 10px;
}

.cursiva { 
  font-style: italic;
}

/*******  BARRA DE NAVEGACIÓN   ********/

.estilo-header {
  background: var(--color3);
}

.navbar-nav .nav-link {    
  font-family: var(--texto1), sans-serif;
  font-size: var(--tam-letra1);
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: var(--color1);
  font-weight: bold;
}

.estilos-navbar {
  background: var(--color3);
}

.estilos-navbar li a{
  color: var(--color1);
  font-family: var(--texto1), sans-serif;
  font-size: var(--tam-letra2);
  font-weight: bold;
}

.estilos-navbar li a:hover{
  font-size: var(--tam-letra4);
  font-weight: bold;
}

.huacal-number {
  /*Posicionamiento de circulo*/
  position: relative;
  top: -10px;
  right: -50%;
  /*Posicionamiento de contenido*/ 
  align-items: center;
  display: flex;
  justify-content: center;
  /*Estilo*/
  background-color: #fff;
  border-radius: 50%;
  color: var(--color1);
  font-size: 0.75rem;
  height: 25px;
  width: 25px;
}

.nav-item{
  text-align: center;
}

.accordion-item{
    font-family: montserrat;
    
}


.accordion {
  padding-top: 50px;
}

.descripcion-section {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 3rem;
  width: 100%;
  font-family: montserrat;
}

.descripcion-content {
  max-width: 1200px;
  margin: 0 auto;
}


/* Header */
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  padding: 15px 0;
  font-family: montserrat;
}
.heading_container.heading_center h3 {
    position: relative;
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: montserrat;
}
.inner_page_head {
    background: #FF0646;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}

.inner_page_head h3 {
    font-size: 42px;
    font-weight: 800;
}


form input {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: normal;
}

form textarea {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    min-height: 150px;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: normal;
}

form input[type="submit"] {
    border: none;
    padding: 15px 45px;
    width: auto;
    font-size: 16px;
    text-transform: capitalize;
    line-height: normal;
    margin: 0 auto;
    display: flex;
    background: #333;
    color: #fff;
    font-weight: 600;
    transition: ease all 0.1s;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    background: #FF0646;
    color: #fff;
}

/* footer */

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-family: montserrat;
}

.footer-left,
.footer-center,
.footer-right {
  text-align: center;
  margin-bottom: 20px;
}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left a,
.footer-right a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-left a:hover,
.footer-right a:hover {
  color: #ff0646;
}

#subscribeButton {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#subscribeButton:hover {
  background-color: #ff0646;
}

.bottom-text {
  font-size: 12px;
  margin-top: 20px;
}

.descripcion-section img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
}

.img-pagos {
  width: 230px;
}

.img-pagos-container {
  padding-top: 20px;
}