@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --texto1: 'Montserrat', sans-serif;
    --color1: #FF0646;  
    --color2: #04B2D9;
    --color3: #ffff;
    --color4: #F29F05;
    --color5: #F28705;
    --tam-letra2: 0.75rem;
    --tam-letra1: 1rem;
    --tam-letra4: 0.90rem;
    --tam-letra3: 2rem;
}

/*******  BARRA DE NAVEGACIÓN   ********/

.estilo-header {
    background: var(--color3);
}

.navbar-nav .nav-link {    
    font-family: var(--texto1), sans-serif;
    font-size: var(--tam-letra1);
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: var(--color1);
    font-weight: bold;
}

.estilos-navbar {
    background: var(--color3);
}

.estilos-navbar li a{
    color: var(--color1);
    font-family: var(--texto1), sans-serif;
    font-size: var(--tam-letra2);
    font-weight: bold;
}

.estilos-navbar li a:hover{
    font-size: var(--tam-letra4);
    font-weight: bold;
}

.huacal-number {
    /*Posicionamiento de circulo*/
    position: relative;
    top: -10px;
    right: -50%;
    /*Posicionamiento de contenido*/ 
    align-items: center;
    display: flex;
    justify-content: center;
    /*Estilo*/
    background-color: #fff;
    border-radius: 50%;
    color: var(--color1);
    font-size: 0.75rem;
    height: 25px;
    width: 25px;
}

.nav-item{
    text-align: center;
}

/*******      BANNER ROSA CON TÍTULO      **********/

h3{
    font-family: var(--texto1), sans-serif;
    text-align: center;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    padding: 15px 0;
    font-family: montserrat;
}

  .inner_page_head {
    background: #FF0646;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}

.inner_page_head h3 {
    font-size: 42px;
    font-weight: 800;
}

/*******    FORMULARIO     **********/


main {
    margin: 2rem 0;
}

.card {
    border-color: black;
    border-width: 2px;
    width: 40rem;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 5px 5px 5px var(--color1)
}

.card-body {
    padding: 1rem;
    font-size: var(--tam-letra1);
}

.card-title {
    font-family: var(--texto1), sans-serif;
    font-size: var(--tam-letra3);
    font-weight: bold;
    padding: 1rem 0;
}


.form-group {
    margin-bottom: 1.5rem;
    font-size: var(--tam-letra1);
    font-family: var(--texto1), sans-serif;
}

.btn-block {
    margin-top: 1rem;
}

.btn-primary {
    width: 40%; 
    margin: 0 auto; 
    background-color: black;
    border: 1px solid black;
    size: 26px;
    color: white;
    padding: 0.375rem 0.75rem;
}

.btn-primary:hover {
    background-color: #FF0646;
    border: #FF0646;
}

.privacy-link {
    font-size: 0.8rem;
    color: #6c757d;
    text-decoration: none;
}

.privacy-link:hover {
    text-decoration: underline;
}

.titulo-color{
    font-family: var(--texto1), sans-serif;
    font-size: var(--tam-letra1);
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
    align-items: center;
    
}

label {
    font-family: var(--texto1), sans-serif;
    font-size: var(--tam-letra1);
    color: #000;
    
}

.form-select {
    font-family: var(--texto1), sans-serif;
    font-size: var(--tam-letra1);
    color: #545759;
    cursor:pointer;  
}

  /*******     DESCRPTION SECTION      **********/
  .descripcion-section {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 3rem;
    width: 100%;
    font-family: var(--texto1), sans-serif;
  }
  
  .descripcion-content {
    max-width: 1200px;
    margin: 0 auto;
  }

/*******     FOOTER      **********/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-family: montserrat;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-left a,
  .footer-right a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .footer-left a:hover,
  .footer-right a:hover {
    color: #ff0646;
  }
  
  #subscribeButton {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #subscribeButton:hover {
    background-color: #ff0646;
  }
  
  .bottom-text {
    font-size: 12px;
    margin-top: 20px;
  }
  
  .descripcion-section img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
  }

  .img-pagos {
    width: 230px;
  }

  .img-pagos-container {
    padding-top: 20px;
  }

