
.card {
    width: 30rem;
    border-width: 3px;
    border-color: black;
}

.card-properties {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: -10rem;
    left: calc(50% - 7.5rem);
    border-radius: 50%;
    background: white;
}


.card-body {
    padding-top: 4rem;
}


.form-group {
    margin-bottom: 1.5rem;
}

.btn-block {
    margin-top: 1rem;
}

.btn-primary {
    width: 100%; 
    margin: 0 auto; 
    background-color: #D81159;
    border: 1px solid black;
    size: 26px;
    color: white;
    padding: 0.375rem 0.75rem;
}

.btn-primary:hover {
    background-color: #C70B52;
    border-color: #8F2D56; 
}

.create-account-link {
    color: #D81159;
    text-decoration: none;
}

.create-account-link:hover {
    text-decoration: underline;
}

.privacy-link {
    font-size: 0.8rem; /* Tamaño de la letra más pequeño */
    color: #6c757d; /* Un color discreto, cambialo como prefieras */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.privacy-link:hover {
    text-decoration: underline; /* Agrega un subrayado al pasar el mouse */
}